<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('./partials/head'); %>
</head>
<body>
    <main class="movie">
    <%- include('./partials/header'); %>
    <section class="menu">
    <%- include('./partials/main'); %>
    </section>
    </main>
    <%- include('./partials/footer'); %>
</body>
</html>