<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
</head>
<body>
    <!-- <header class="header">
        <h2 class="header_h2">Assignment 2 - COMP 4513 - Movies</h2>
    </header>
    <main class="main_content">
        <div class="hero-image">
            
            <img src="/images/hero_image.jpg" alt="My Image">
            <div class="container">
                <section class="menu">
                    <form>
                        <label for="username">
                        Username
                        </label>
                        <input type="text" id="username" name="username">
                
                        <label for="password">
                        Password
                        </label>
                        <input type="password" id="password" name="password">
                
                        <button type="submit">
                        Login
                        </button>
                    </form>
                </section>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div>
            <p style="display: inline-block;">Marco Gonzalez & Matthew Pham - </p>
            <span style="display: inline-block; margin-left: 10px;"><a href="https://github.com/marcogonzalez99/node-assignment">Github Link</a></span>
            <span style="display: inline-block; margin-left: 10px;"><a href="https://unsplash.com/photos/PpgY7sjpf_0">Hero Image</a></span> 
        </div>
    </footer> -->
    <header>
		<h1>Assignment 2 - COMP 4513</h1>
	</header>

	<main>
		<section class="hero">
            <div class="container">
                <h1 class="hero_heading_1">User Login</h1>
                <hr class="hero_line">
                <form>
                    <label for="username">
                    Username
                    </label>
                    <input type="text" id="username" name="username" required>

                    <label for="password">
                    Password
                    </label>
                    <input type="password" id="password" name="password" required>

                    <button type="submit">
                    Login
                    </button>
                </form>
            </div>
		</section>
	</main>

	<footer>
        <div>
            <p style="display: inline-block;">&copy; Marco Gonzalez & Matthew Pham - </p>
            <span style="display: inline-block; margin-left: 10px;"><a href="https://github.com/marcogonzalez99/node-assignment">Github Link</a></span>
            <span style="display: inline-block; margin-left: 10px;"><a href="https://unsplash.com/photos/QQj8Tk24X6M">Hero Image</a></span> 
        </div>
	</footer>
</body>
</html>